body {
    margin: 0;
    background-color: rgb(185, 180, 161);
}

code {
    white-space: pre;
}

h1 {
    color: #502e5a;
    margin-top: 0px;
    padding-top: 20px;
}

textarea {
    height: 50vh;
    width: 70%;
}

.main {
    padding: 10px;
}

.search {
    width: 100%;
    font-size: 15px;
    line-height: 15px;
}

.sidebar {
    background-color: #474343;
    height: 100vh;
    padding: 20px;
}

.sidebar h2 {
    margin-top: 5px;
    color: aqua;
}

li {
    list-style-type: none
}

.list{
    color: rgb(40, 51, 112);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20pt;
}

.row{
    max-width: 100%;
}
