{% extends "encyclopedia/layout.html" %}

{% block title %}
    Add Entry
{% endblock %}

{% block body %}
    <h1>Створити нову статтю:</h1>
    <ul><form action="{% url 'encyclopedia:new_art' %}" method="post">
        {% csrf_token %}
        <li>  <label for = "{{form.title.id_for_label}}">  {{ form.title.label }}:</label>{{ form.title}}</li>
            <li><label for = "{{form.content.id_for_label}}">  {{ form.content.label }}:</label>{{ form.content}}</li>
                <li> <input type="submit" value="Зберегти"></li>
    </form></ul>
    {% endblock %}
